@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

body, html{@apply overflow-x-hidden;}
body{@apply font-primary text-navyblue bg-white;}

/* ANim */
.anim {@apply transition-all duration-300;}

/* Titles */
h1,.h1 {@apply font-normal text-4xl md:text-5xl lg:text-6xl xl:text-68 2xl:text-78;}
h2,.h2 {@apply font-normal text-3xl lg:text-6xl 2xl:text-7xl;}
h3,.h3 {@apply font-normal text-4xl lg:text-5xl 2xl:text-64;}
h4,.h4{@apply font-normal text-40 lg:text-[46px] 2xl:text-52;}
h5,.h5{@apply font-normal text-xl md:text-2xl lg:text-3xl 2xl:text-4xl;}

/* Paragraphs */
p {@apply font-normal md:font-normal text-xs md:text-base xl:text-lg;}
p.exsmall {@apply text-[13px] leading-5 font-medium ;}

/* Wrapper */
.wrapper {@apply max-w-screen-xl mx-auto px-3.5 md:px-5 xl:px-8 2xl:px-10;}

/* Button */
.btn-primary {@apply bg-sky text-white border border-sky font-inter text-base lg:text-lg 2xl:text-2xl rounded-full p-2 px-5 inline-block text-center hover:text-sky hover:bg-transparent transition-all duration-300;}

/* about us  */
.au_card{@apply relative w-full rounded-md bg-white drop-shadow-lg p-3 sm:p-5 xl:px-7 h-[120px] 2xl:h-[150px] flex flex-col;}
.au_text{@apply capitalize text-xs sm:text-sm xl:text-base 2xl:text-lg text-black font-inter text-center max-w-[220px] mx-auto opacity-0 group-hover:opacity-100 group-hover:text-sky;}

/* @media xl {    */
.commercialBox.hideBox {@apply w-0 h-0 lg:h-auto scale-x-0 origin-left overflow-hidden;}
.commercialBox {@apply w-full;}
#commercial_box * {@apply transition-all duration-300;}
#commercial_box.active .clickBox1, #commercial_box.active .clickBox2, #commercial_box.active .clickBox4 {@apply opacity-50;}
#commercial_box.active .clickBox1 .com_img, #commercial_box.active .clickBox2 .com_img, #commercial_box.active .clickBox4 .com_img{@apply scale-75;}
#commercial_box.active .clickBox3 .com_img .circale_das{@apply scale-100;}
#commercial_box.active .downBox {@apply h-72;}
#commercial_box.active .clBox {@apply w-96;}

.submenu_list {@apply text-base space-x-5 xl:space-x-10 font-inter;}
.submenu_list .sub_link {@apply border-b-2 border-transparent py-2 anim;}
.submenu_list .sub_link:hover, .submenu_list .sub_link.active {@apply text-sky border-sky;}

.flip-box {
  @apply h-64 md:h-96;
  perspective: 1000px;
  width: 100%;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #fff;
  color: black;
  border-radius: 10px;
}

.flip-box-front img
{
  height: 50px;
  width: 50px;
}

.flip-box-back {
  background-color: #ffffff;
  color: #000;
  transform: rotateY(180deg);
  border-radius: 10px;
  padding: 16px;
}
    
/* } */

 tr:nth-child(even) {@apply bg-sky/20;}
 .proprty-details {@apply cursor-pointer anim;}
 .proprty-details.active .table-responsive{@apply block;}
 .proprty-details.active .image{@apply block h-28;}
 .proprty-details.active table td{@apply p-1;}
 .proprty-details.active{@apply w-full sm:w-[50%] lg:w-[32.32%] 2xl:w-[25%];}
 .proprty-details.active p{@apply block;}
 .proprty-details.active .details-text{@apply flex items-baseline justify-between pb-2;}
/* kyc5 process  */
.complete .c_process,
.pandding .process{@apply opacity-100;}
/* .pandding span:first-child{@apply bg-sky/20 border-sky/20;}
.pandding span:first-child svg path{@apply fill-sky stroke-sky;}
.pandding span{@apply text-black;} */

.document.current ~ .document .c_process{@apply opacity-0;}
.document.current .c_process{@apply opacity-0;}
.document.current .process{@apply opacity-100;}
.document.current span:first-child{@apply bg-sky/20 border-sky/20;}
.document.current span:first-child svg.icon path{@apply fill-sky stroke-sky;}
.document.current span{@apply text-black;}

.tab_link.active a{@apply bg-sky/20 border-white;}


.sublink{@apply text-base lg:text-lg font-semibold text-black/70 cursor-pointer flex items-center py-1;}
.tabcontent{@apply text-xl font-semibold hidden;}
.underlink{@apply text-sm lg:text-base font-normal px-3 py-1.5 rounded text-black cursor-pointer;}
.underlink.current{@apply bg-black/5;}

.tabcontent.current, 
.tabcontent2.current{@apply block;}


.document_details.current{@apply block;}
@tailwind utilities;